.header {
  width: 100%;
  height: 50px;
  background-color: #526DC2;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 1px 1px 10px rgba(82, 109, 194, 0.1);
}

.header > .logo {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.header > .logo img {
  max-width: 22px;
  width: 100%;
}
