.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 300px;
  height: 160px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.github-input {
  padding: 10px;
  width: 100%;
}

.github-button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #526DC2;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.github-button:disabled {
  cursor: not-allowed;
}
