@import 'https://fonts.googleapis.com/css?family=Varela+Round';
@import 'normalize.css';

@import '_header.css';
@import '_main.css';
@import '_login.css';
@import '_post.css';
@import '_profile.css';
@import '_typing.css';

* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  background: #EEEEEE;
  overflow-y: scroll;
}

html,
body {
  font-size: 16px;
  font-family: 'Varela Round';
  color: #516d77;
}

@media (max-width: 575.98px) {
  html,
  body {
    font-size: 18px;
  }
}
