.feed {
  display: flex;
  padding-top: var(--header-height);
}

/* @media (max-width: 992px) {
  .feed > .posts {
    flex-basis: calc(100% - var(--profile-width));
    width: calc(100% - var(--profile-width));
  }
} */

@media (max-width: 768px) {
  .feed > .posts {
    width: 100%;
    flex-basis: 100%;
  }
}


/* @media (max-width: 992px) {
  .feed > .profile {
    width: var(--profile-width);
    flex-basis: var(--profile-width);
  }
} */

@media (max-width: 768px) {
  .feed > .profile {
    display: none;
  }
}
