.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--header-height);
  background-color: var(--base-dark);
  color: var(--base-light);
}

.login-box {
  width: 300px;
  height: 160px;
  padding: 15px;
  border-radius: 6px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: var(--gray-1);
}

.github-logo > svg {
  border: 5px solid white;
  border-radius: 100%;
  background: #fff;
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

.github-input {
  width: 100%;
  border-radius: 40px;
  border: 0;
  height: 40px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--base-light);
  color: var(--base-dark);
}

.github-button {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  border: 0;
  cursor: pointer;
  color: var(--base-light);
  background-color: var(--pink);
  border-radius: 2px;
}

.github-button:disabled {
  cursor: not-allowed;
}
