.profile {
  width: var(--profile-width);
  flex-basis: var(--profile-width);
  min-height: 100vh;
  padding: 50px;
  z-index: 5;
  box-shadow: 1px 1px 10px rgba(82, 109, 194, 0.1);
  background-color: var(--gray-1);
  position: fixed;
  right: 0;
}

.profile > .profile-image {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}

.profile > .profile-image .image-board {
  width: 120px;
  height: 120px;
}

.profile > .profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}


.profile > .profile-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 600;
  color: var(--base-light);
}

.profile > .profile-stats {
  display: flex;
  margin: 20px 0;
}

.profile > .profile-stats > div {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile > .profile-stats > div > span:nth-child(1) {
  color: var(--pink);
}

.profile > .profile-stats > div > span:nth-child(2) {
  font-size: 0.66rem;
  text-transform: uppercase;
  padding: 5px;
  color: var(--base-light);
}
